:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    background-color: yellow;
}
h2 {
    text-transform: uppercase;
}
h4 {
    text-transform: lowercase;
}

.center {
    text-align: center;
    color: red;
}

p.center {
    color: blue;
    font-size: 1.3em;
}

#chapter{
    font-weight: 900;
    text-transform: uppercase;
}

h2, #chapter {
    text-transform: uppercase;
}

h1,h2, .center{
    text-align: center;
}