:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    background-color: yellow;
}

h2 {
    text-transform: uppercase;
}

h4 {
    text-transform: lowercase;
}

.center {
    text-align: center;
    color: red;
}

p.center {
    color: blue;
    font-size: 1.3em;
}

#chapter{
    font-weight: 900;
    text-transform: uppercase;
}

h2, #chapter {
    text-transform: uppercase;
}

h1,
h2,
.center {
    text-align: center;
}

/* Styles for Page 3 */
.days {
  list-style-position: inside;
}

.days li {
    text-transform: uppercase;
    color: #A0A;
    font-size: 1.4em;
}

.flavors {
  list-style-type: circle;
}

.flavors li {
    font-size: 1.2em;
    text-transform: lowercase;
}

/* Styles for Navigations */
.nav-h,
.nav-v{
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-h li {
    float: left;
}

.nav-v {
    width: 200px;
}

.active {
    background-color: #04aa6d;
}

li a:hover {
    background-color: #111;
}

/* Styles for Page 5 */
#handling-div { 
    background-color: #17255a;
}

#handling-h1 {
    background-color: #7c9885;
}

#handling-p {
    display: block;
    background-color: #5e0b15;
}

#handling-a {
    display: block;
    background-color: #fde74c;
}

.box-model, 
.box-model2 {
    width: 400px;
    height: 120px;
    padding: 20px;
}

.box-model {
    border: 10px solid red;
    margin: 0 0 20px 0;
}

.box-model2 {
    border: 10px solid blue;
    box-sizing: border-box; 
}

/* Page 5 Postion Properties */
.position-example {
    background-color: green;
    height: 150px;
}

.position-a {
    position: absolute;
    display: inline;
    background-color: orange;
}

.position-r {
    position: relative;
    display: inline;
    background-color: #fff;
    color: #000;
}

.span-p {
    font-size: 1.5em;
}

.span-p span {
    font-weight: bold;
    color: blue;
}